.headerTitle {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 0 0 rgb(44, 45, 101);
    border-bottom: 5px solid rgb(255, 105, 0);
}

.title {
    padding: 2vh;
    height: 7.5vh;
}