/*welcome-article*/

.welcomeArticle {
    position: absolute;
    top: 70vh;
    width: 60vw;
    margin: 0 10vw;
    border: 1px solid navy;
    font-size: 1.4rem;
}

.welcomeArticle .artTitle {
    height: 30vh;
    background: rgba(0,0,0,0.6);
    color: rgb(255, 105, 0);
}

.welcomeArticle h1 {
    text-shadow: 3px 1px black;
}


/*article general*/

.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.art h1 {
    margin: 1em 2em;
    font-size: 2.4em;
}

.artTitle{
    width: 100%;
    height: 30vh;
}

.artText{
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
}

.aboutUs {
    height: 200vh;
} /*temp*/

/* split pane */

.split {
    width: 100%;
    height: 110vh;
    overflow: hidden;
    display: flex;
    flex-flow: nowrap;
}

.split .imageContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.split img {
    height: 100%;
    width: auto;
}

.meetBruno {
    width: 100%;
    padding: 4vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}

.split h1 {
    margin: 2vw 0;
}

.split p {
    margin: 0.4rem;
    font-size: 1.2rem;
    text-align: right; 
}