@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.accordion-active-1 {
  height: 2rem;
}
.accordion-active-2 {
  height: 4rem;
}
.accordion-active-3 {
  height: 6rem;
}
.accordion-active-4 {
  height: 8rem;
}
.accordion-active-5 {
  height: 10rem;
}

button {
  outline: none!important;
}

.-trnslt-1\/2 {
  transform: translateX(-50%);
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: 'poppins';
}

h1 {
  letter-spacing: 0.125rem;
  font-size: 2.2rem;
}

h2 {
  margin-bottom: 3rem;
  font-size: 1.6rem;
}

.bb-border-bottom {
  box-shadow: 0 4px rgb(44, 45, 101), inset 0 -4px rgb(255, 105, 0);
  padding-bottom: 4px;
  margin-bottom: 4px;
}

/* animations */

// .fade-appear {
//   opacity: 0;
//   translate: scaleX(0.9);
//   translate: scaleY(0.9);
//   .fade-appear-active {
//     opacity: 1;
//     translate: scaleX(1);
//     translate: scaleY(1);
//     transition: all .5s ease;
//   }  
// }

// .fade-enter {
//   opacity: 0;
//   .fade-enter-active {
//     opacity: 1;
//     transition: all .5s ease;
//   }
// }

// .fade-exit {
//   opacity: 1;
//   translate: scaleX(1);
//   translate: scaleY(1);
//   .fade-exit-active {
//     opacity: 0;
//     translate: scaleX(0.9);
//     translate: scaleY(0.9);
//     transition: all .5s ease;
//   }
// }



